 
         
         
        .portugal {
         max-width: 80%;
         max-height: 20rem;
         margin: 1rem;
}

       body {
        margin: 0;
        padding: 2rem 0;
        width: 100%;
        background: rgb(255, 0, 212);
        font-family: 'Inconsolata', monospace;
        text-align: center;
       }  


      h1 {
    
       font-size: 60px;
       text-align: center;
       margin: 0;
       padding: 20px 0;
       text-shadow: 3px 3px 1px rgb(211, 23, 126);

       }

       h2 {
           font-size: 40px;
           font-family: 'Inconsolata', monospace;
           text-align: center;
           margin: 0;
           text-shadow: #40E0D0; 
       }

       p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow:black;
      }  

      footer {
    margin: 3rem;
    font-size: 1.2rem;
      }

     

    


